            .titulo-historia {
                color:red;
            }
                        .titulo-hobbies {
                color:blue;
            }

            article section p span {

            }
            .navbar {
                display: flex;
                list-style: none;
            }
            .navbar li {
                margin-right: 10px;

            }

            .navbar {
                display: flex;
                list-style: none;
                padding: 0;
            }

            .navbar li a {
                text-decoration: none;
            }

            .navbar li a:hover {
                text-decoration: none;
                color: red;

            }
            .contenedor {
                width: 1200px;
                margin: 0 auto;
                background-color: white;
            }

            body {
                background-image: url(https://img.freepik.com/premium-photo/light-black-future-technology-book-cover-background-21_769134-409.jpg?semt=ais_incoming&w=740&q=80);
                
            }